$background: #dfdfdf;

.app-content {
  background: $background;
}

.neuromorphic-shadow {
  &--concave {
    border-radius: 50px;
    background: linear-gradient(145deg, #efefef, #c9c9c9);
    box-shadow: 30px 30px 60px #bebebe, -30px -30px 60px #ffffff;
  }

  &--convex {
    border-radius: 50px;
    background: linear-gradient(145deg, #c9c9c9, #efefef);
    box-shadow: 30px 30px 60px #bebebe, -30px -30px 60px #ffffff;
  }
}
